        <li class="page-list-item">
            <a href="{{ "/SdsPage" | relative_url }}">{{"SdsPage" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/タンパク質の一次構造の決定" | relative_url }}">{{"タンパク質の一次構造の決定" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Home" | relative_url }}">{{"Home" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Chymotrypsin" | relative_url }}">{{"Chymotrypsin" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/コースの感想" | relative_url }}">{{"コースの感想" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/SignalTransduction" | relative_url }}">{{"SignalTransduction" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/触媒としての酵素" | relative_url }}">{{"触媒としての酵素" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/ヘモグロビンとBohrEffect" | relative_url }}">{{"ヘモグロビンとBohrEffect" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/タンパク質のfolding" | relative_url }}">{{"タンパク質のfolding" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Membranes" | relative_url }}">{{"Membranes" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/EyringEquation" | relative_url }}">{{"EyringEquation" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/EnzymeKinetics" | relative_url }}">{{"EnzymeKinetics" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/BloodClotting" | relative_url }}">{{"BloodClotting" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/チャンネル、トランスポーター、ポンプ" | relative_url }}">{{"チャンネル、トランスポーター、ポンプ" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/生理学的条件" | relative_url }}">{{"生理学的条件" | escape}}</a>
        </li>
