        <li class="page-list-item">
            <a href="{{ "/JetpackCompose/Card" | relative_url }}">{{"Card" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/JetpackCompose/Box" | relative_url }}">{{"Box" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/JetpackCompose/Home" | relative_url }}">{{"Home" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/JetpackCompose/Dialog" | relative_url }}">{{"Dialog" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/JetpackCompose/DatePicker" | relative_url }}">{{"DatePicker" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/JetpackCompose/サンプル" | relative_url }}">{{"サンプル" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/JetpackCompose/DropdownMenu" | relative_url }}">{{"DropdownMenu" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/JetpackCompose/TextField" | relative_url }}">{{"TextField" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/JetpackCompose/State" | relative_url }}">{{"State" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/JetpackCompose/Surface" | relative_url }}">{{"Surface" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/JetpackCompose/Spacer" | relative_url }}">{{"Spacer" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/JetpackCompose/Shape" | relative_url }}">{{"Shape" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/JetpackCompose/Divider" | relative_url }}">{{"Divider" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/JetpackCompose/Button" | relative_url }}">{{"Button" | escape}}</a>
        </li>
