        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/タンパク質がERに入るメカニズム" | relative_url }}">{{"タンパク質がERに入るメカニズム" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Vesicleによる輸送" | relative_url }}">{{"Vesicleによる輸送" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/MembraneのHeterogeneity" | relative_url }}">{{"MembraneのHeterogeneity" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Membrane" | relative_url }}">{{"Membrane" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Home" | relative_url }}">{{"Home" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Morphogenesis" | relative_url }}">{{"Morphogenesis" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/CancerMetastasis" | relative_url }}">{{"CancerMetastasis" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/細胞間相互作用の為の組織学" | relative_url }}">{{"細胞間相互作用の為の組織学" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Morphogenesis関連のシグナリングpathway" | relative_url }}">{{"Morphogenesis関連のシグナリングpathway" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Cancer" | relative_url }}">{{"Cancer" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/TCellActivation" | relative_url }}">{{"TCellActivation" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/NuclearPoreの輸送メカニズム" | relative_url }}">{{"NuclearPoreの輸送メカニズム" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Assay" | relative_url }}">{{"Assay" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/ImmuneResponse概要" | relative_url }}">{{"ImmuneResponse概要" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/AntigenPresentation" | relative_url }}">{{"AntigenPresentation" | escape}}</a>
        </li>
