        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/細胞間相互作用の為の組織学" | relative_url }}">{{"細胞間相互作用の為の組織学" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Morphogenesis関連のシグナリングpathway" | relative_url }}">{{"Morphogenesis関連のシグナリングpathway" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Home" | relative_url }}">{{"Home" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/CancerMetastasis" | relative_url }}">{{"CancerMetastasis" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Cancer" | relative_url }}">{{"Cancer" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/TCellActivation" | relative_url }}">{{"TCellActivation" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/NuclearPoreの輸送メカニズム" | relative_url }}">{{"NuclearPoreの輸送メカニズム" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Assay" | relative_url }}">{{"Assay" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/ImmuneResponse概要" | relative_url }}">{{"ImmuneResponse概要" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/AntigenPresentation" | relative_url }}">{{"AntigenPresentation" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/アポトーシスのpathway" | relative_url }}">{{"アポトーシスのpathway" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/UbiquitinationとDegradation" | relative_url }}">{{"UbiquitinationとDegradation" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/TightJunctions" | relative_url }}">{{"TightJunctions" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/PathogensとVirulenceFactors" | relative_url }}">{{"PathogensとVirulenceFactors" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Listeria" | relative_url }}">{{"Listeria" | escape}}</a>
        </li>
