        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/細胞分裂の概要" | relative_url }}">{{"細胞分裂の概要" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/PairingとCondensation" | relative_url }}">{{"PairingとCondensation" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Home" | relative_url }}">{{"Home" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/力の生成と移動" | relative_url }}">{{"力の生成と移動" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Microtubuleの制御" | relative_url }}">{{"Microtubuleの制御" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Microtubule" | relative_url }}">{{"Microtubule" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Assay" | relative_url }}">{{"Assay" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/Actinとそのポリマー化" | relative_url }}">{{"Actinとそのポリマー化" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/顕微鏡とFluorescence" | relative_url }}">{{"顕微鏡とFluorescence" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/UbiquitinationとDegradation" | relative_url }}">{{"UbiquitinationとDegradation" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/変更を実現するメカニズム" | relative_url }}">{{"変更を実現するメカニズム" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/シグナルpathwayの例" | relative_url }}">{{"シグナルpathwayの例" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/レセプターとリガンド" | relative_url }}">{{"レセプターとリガンド" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/NuclearPore" | relative_url }}">{{"NuclearPore" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/CellBiology706x/シグナルの帰結" | relative_url }}">{{"シグナルの帰結" | escape}}</a>
        </li>
